<%- include("header") -%>

    <div style="margin-top: 300px;" class="error">
        <p style="text-align: center; margin: 0 auto; font-size: 40px; color: azure;">New Item can't be EMPTY </p>
    </div>

    <form action="/" method="get">
        <button style="font-size: 30px; width: 100px; height: 100px; margin: 100px;" name="Back">GO BACK</button>
    </form>

    <%- include("footer") -%>