<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="icon" href="images/sketch-3-todo-list-app-icon-template.png">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>